.datatable-users {
    display: block;
    width: 100%;
    padding: .25rem 0.5rem !important;
    clear: both;
    color: #2a2e30;
    text-align: inherit;
    background-color: transparent;
    border: 0;
}
.data_users
{
	padding: .20rem 1rem !important;
}
.field-icon {
        float: right;
        margin-left: -25px;
        margin-top: -34px;
        position: relative;
        z-index: 2;
        margin-right: 17px;
        cursor: pointer;
        }
        .bank_name
        {
        	max-width: 52.63333%;
        }